<h1 mat-dialog-title>Add product</h1>
<mat-dialog-content>
  <form [formGroup]="addProductForm">
    <mat-form-field>
      <mat-label>Product name</mat-label>
      <input id="name" formControlName="name" type="text" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input id="category" formControlName="category" matInput
             (input)="categoryInput($event.target.value)" [matAutocomplete]="auto"
             [formControl]="formControl">

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocompleteOption">
        <mat-option *ngFor="let category of categoryAutocomplete" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input id="weight" formControlName="weight" type="number" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input id="price" formControlName="price" type="number" matInput>
    </mat-form-field>
  </form>
  <input #fileInput hidden="true" type="file" onclick="this.value=null" (change)="fileInputChange($event.target.files)" accept="image/*"/>
  <button mat-flat-button color="primary" (click)="fileInput.click()">Choose image</button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="submit" (click)="onAddClick(addProductForm.value)">Add</button>
  <button mat-button type="button" (click)="onExitClick()">Exit</button>
</mat-dialog-actions>

